force-app/main/default/flows/customer_review_of_solar_panels.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_fe672a62_afbb_473f_8678_2df06a1c1efa</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_45fc5c15_9532_4434_803c_4b40501832f9</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_6ab63ca5_6fc8_439d_9f7c_87cb63f4ca88</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_b0c3d449_76be_41ab_b51c_0198c57497ca</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_62205153_2544_4b52_9cdf_c19ecde8dc18</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StackRank_Assignment</name>
        <label>StackRank_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>q_6d0fce2b_e8a3_4bc4_8dbf_55f9351bfd22_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_6d0fce2b_e8a3_4bc4_8dbf_55f9351bfd22_rank0&quot;,&quot;rankText&quot;:&quot;{!q_6d0fce2b_e8a3_4bc4_8dbf_55f9351bfd22_rank0}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_6d0fce2b_e8a3_4bc4_8dbf_55f9351bfd22_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_6d0fce2b_e8a3_4bc4_8dbf_55f9351bfd22_rank1&quot;,&quot;rankText&quot;:&quot;{!q_6d0fce2b_e8a3_4bc4_8dbf_55f9351bfd22_rank1}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_6d0fce2b_e8a3_4bc4_8dbf_55f9351bfd22_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_6d0fce2b_e8a3_4bc4_8dbf_55f9351bfd22_rank2&quot;,&quot;rankText&quot;:&quot;{!q_6d0fce2b_e8a3_4bc4_8dbf_55f9351bfd22_rank2}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_6d0fce2b_e8a3_4bc4_8dbf_55f9351bfd22_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_6d0fce2b_e8a3_4bc4_8dbf_55f9351bfd22_rank3&quot;,&quot;rankText&quot;:&quot;{!q_6d0fce2b_e8a3_4bc4_8dbf_55f9351bfd22_rank3}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pageNamesInOrder_Assignment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_366a3cd7_68a7_4317_a1d1_3dc1f1e86524</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_39909998_ce2f_44ae_852f_82837904daa8</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_79f1193f_4451_4550_86f1_7e54db3ae800</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_c33181b3_90a3_4227_9d5b_4887aba24b1c</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e47e5bc2_9c38_4230_9ec6_ad0e15e05abd</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>d_9a970282_465f_4cff_8a8d_eb217e9f16a6</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_6ab63ca5_6fc8_439d_9f7c_87cb63f4ca88</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_90b14280_843c_4d30_91d8_7c6c25d8b094</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>CSAT</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_063c1748_476f_430e_a4d1_e89f91ff354f</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_b0c3d449_76be_41ab_b51c_0198c57497ca</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_eff9dca1_7f9f_45fe_9d50_7ff90c399fa8</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_62205153_2544_4b52_9cdf_c19ecde8dc18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_ec7d9ac2_a197_46ed_88a2_8659305bfec4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Rating</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_0ef16337_45ee_4bab_9454_31b1a2c7ed70</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_366a3cd7_68a7_4317_a1d1_3dc1f1e86524</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>CSAT</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_063c1748_476f_430e_a4d1_e89f91ff354f</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>NPS</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_efce2bb4_3911_4678_9187_b5e6fa81d054</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <label>my_rule</label>
        </rules>
    </decisions>
    <interviewLabel>Customer Review of Solar Panels</interviewLabel>
    <label>Customer Review of Solar Panels</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_customer_review_of_solar_panel_c2c37829_eddb_4ee6_a561_a17bf2fabd57</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isAutosaveEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>surveyType</name>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_45fc5c15_9532_4434_803c_4b40501832f9</name>
        <label>Solar Panel Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_9a970282_465f_4cff_8a8d_eb217e9f16a6</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_063c1748_476f_430e_a4d1_e89f91ff354f_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_063c1748_476f_430e_a4d1_e89f91ff354f</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: Monaco, Menlo, Consolas, &amp;quot;Courier New&amp;quot;, monospace;&quot;&gt;Score our solar panels&lt;/span&gt;&lt;strong style=&quot;font-size: 12px; font-family: Monaco, Menlo, Consolas, &amp;quot;Courier New&amp;quot;, monospace;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;img src=&quot;https://akshayforce1-aa-dev-ed.file.force.com/file-asset-public/solar_panel?oid=00D5j0000071khm&amp;amp;v=1&quot; alt=&quot;solar_panel&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_62205153_2544_4b52_9cdf_c19ecde8dc18</name>
        <label>Other Improvement Areas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_039d8da4_0354_46b7_9334_e59131e6dfaa</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 14px; font-family: &amp;quot;Salesforce Sans&amp;quot;, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, sans-serif;&quot;&gt;Any other areas of improvement?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_6ab63ca5_6fc8_439d_9f7c_87cb63f4ca88</name>
        <label>Low Score Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_b0c3d449_76be_41ab_b51c_0198c57497ca</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_8bab56e9_c67b_4e31_82ad_01e5e80685a7</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: Monaco, Menlo, Consolas, &amp;quot;Courier New&amp;quot;, monospace;&quot;&gt;Tell us why you rated our solar panel&lt;/span&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;{!q_063c1748_476f_430e_a4d1_e89f91ff354f}&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_b0c3d449_76be_41ab_b51c_0198c57497ca</name>
        <label>Rank and Recommend</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_eff9dca1_7f9f_45fe_9d50_7ff90c399fa8</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rank</name>
                <value>
                    <elementReference>q_6d0fce2b_e8a3_4bc4_8dbf_55f9351bfd22_rank</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>weights</name>
                <value>
                    <stringValue>[4,3,2,1]</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6d0fce2b_e8a3_4bc4_8dbf_55f9351bfd22</name>
            <dataType>String</dataType>
            <extensionName>survey:cmpInputRuntimeStackRank</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 14px; font-family: &amp;quot;Salesforce Sans&amp;quot;, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, sans-serif;&quot;&gt;Rank which features of the solar panels are the most useful.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_efce2bb4_3911_4678_9187_b5e6fa81d054_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>npsColorCodeEnabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>npsLeftLabel</name>
                <value>
                    <stringValue>{!q_efce2bb4_3911_4678_9187_b5e6fa81d054_nllref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>npsRightLabel</name>
                <value>
                    <stringValue>{!q_efce2bb4_3911_4678_9187_b5e6fa81d054_nrlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_efce2bb4_3911_4678_9187_b5e6fa81d054</name>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeNps</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: &amp;quot;Salesforce Sans&amp;quot;, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, sans-serif;&quot;&gt;Would you recommend our solar panels to your friends and family?&lt;/span&gt;&lt;strong style=&quot;font-size: 14px; font-family: &amp;quot;Salesforce Sans&amp;quot;, -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, sans-serif;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_fe672a62_afbb_473f_8678_2df06a1c1efa</name>
        <label>Solar Panel Setup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_45fc5c15_9532_4434_803c_4b40501832f9</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_0ef16337_45ee_4bab_9454_31b1a2c7ed70_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>star</stringValue>
                </value>
            </processMetadataValues>
            <name>q_0ef16337_45ee_4bab_9454_31b1a2c7ed70</name>
            <choiceReferences>c_39909998_ce2f_44ae_852f_82837904daa8</choiceReferences>
            <choiceReferences>c_e47e5bc2_9c38_4230_9ec6_ad0e15e05abd</choiceReferences>
            <choiceReferences>c_79f1193f_4451_4550_86f1_7e54db3ae800</choiceReferences>
            <choiceReferences>c_c33181b3_90a3_4227_9d5b_4887aba24b1c</choiceReferences>
            <choiceReferences>c_366a3cd7_68a7_4317_a1d1_3dc1f1e86524</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: Monaco, Menlo, Consolas, &amp;quot;Courier New&amp;quot;, monospace;&quot;&gt;Rate your experience with the solar panel installation&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b5b3815c_2cfb_4d6a_9754_8693ce697e27</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: Monaco, Menlo, Consolas, &amp;quot;Courier New&amp;quot;, monospace;&quot;&gt;Tell us what didn’t go well with the installation&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Rating</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_0ef16337_45ee_4bab_9454_31b1a2c7ed70</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>c_79f1193f_4451_4550_86f1_7e54db3ae800</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_fe672a62_afbb_473f_8678_2df06a1c1efa</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>{!welcome_question_dref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>StackRank_Assignment</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>q_6d0fce2b_e8a3_4bc4_8dbf_55f9351bfd22_rank0</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Low Maintenance</text>
    </textTemplates>
    <textTemplates>
        <name>q_6d0fce2b_e8a3_4bc4_8dbf_55f9351bfd22_rank1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Protects Your Roof</text>
    </textTemplates>
    <textTemplates>
        <name>q_6d0fce2b_e8a3_4bc4_8dbf_55f9351bfd22_rank2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Constant Power Source</text>
    </textTemplates>
    <textTemplates>
        <name>q_6d0fce2b_e8a3_4bc4_8dbf_55f9351bfd22_rank3</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Highly Durable</text>
    </textTemplates>
    <textTemplates>
        <name>q_efce2bb4_3911_4678_9187_b5e6fa81d054_nllref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Not at all likely</text>
    </textTemplates>
    <textTemplates>
        <name>q_efce2bb4_3911_4678_9187_b5e6fa81d054_nrlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Extremely likely</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: Monaco, Menlo, Consolas, &amp;quot;Courier New&amp;quot;, monospace;&quot;&gt;Thank you for helping us make everyone’s day a little brighter!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_dref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Survey for customer satisfaction on using solar panels</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: Monaco, Menlo, Consolas, &amp;quot;Courier New&amp;quot;, monospace;&quot;&gt;Please tell us about your recent experience with Ursa Major Solar so we can help the sun shine on all our customers!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>q_6d0fce2b_e8a3_4bc4_8dbf_55f9351bfd22_rank</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_063c1748_476f_430e_a4d1_e89f91ff354f_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_0ef16337_45ee_4bab_9454_31b1a2c7ed70_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_efce2bb4_3911_4678_9187_b5e6fa81d054_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
