force-app/main/default/flows/Update_last_login.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_last_login_date</name>
        <label>assign last login date</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Login_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastLoginDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getLastLoginCountry</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update last login {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update last login</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getLastLoginCountry</name>
        <label>getLastLoginCountry</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_last_login_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoginHistory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_last_login_date</name>
        <label>update last login date</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>Last_Login_Time__c</field>
            <value>
                <elementReference>$Record.LastLoginDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Login_Country__c</field>
            <value>
                <elementReference>getLastLoginCountry.CountryIso</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assign_last_login_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastLoginDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-06-20</startDate>
            <startTime>02:31:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
