force-app/main/default/flows/UpdateCloseDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AddOppRecordtoList</name>
        <label>AddOppRecordtoList</label>
        <locationX>1039</locationX>
        <locationY>390</locationY>
        <assignmentItems>
            <assignToReference>oppoListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateLoopOverOppList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateLoopOverOppList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDeadlineDate</name>
        <label>assignDeadlineDate</label>
        <locationX>971</locationX>
        <locationY>220</locationY>
        <assignmentItems>
            <assignToReference>iterateLoopOverOppList.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deadlineDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddOppRecordtoList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkOppListSize</name>
        <label>checkOppListSize</label>
        <locationX>562</locationX>
        <locationY>183</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>sizeIsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunityLst</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iterateLoopOverOppList</targetReference>
            </connector>
            <label>sizeIsNotNull</label>
        </rules>
    </decisions>
    <interviewLabel>UpdateCloseDate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateCloseDate</label>
    <loops>
        <name>iterateLoopOverOppList</name>
        <label>iterateLoopOverOppList</label>
        <locationX>754</locationX>
        <locationY>221</locationY>
        <collectionReference>opportunityLst</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignDeadlineDate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateOpportunitites</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getOpportunities</name>
        <label>getOpportunities</label>
        <locationX>433</locationX>
        <locationY>144</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkOppListSize</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>opportunityLst</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CloseDate</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateOpportunitites</name>
        <label>updateOpportunitites</label>
        <locationX>756</locationX>
        <locationY>389</locationY>
        <inputReference>oppoListToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>getOpportunities</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deadlineDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppoListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunityList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityLst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
